.container {
  padding: 0;
  color: white;
  font-family: "Press Start 2P";
}

.title {
  text-align: left !important;
  font-size: 3.5em;
  line-height: 0;
  padding-bottom: 0.2rem;
}
.subtitlecontainer {
  display: flex;
  justify-content: space-between;
}
.subtitlecontainer h2 {
  .subtitler {
    // margin
    margin-right: 0;
    order: 2;
  }
  .subtitlel {
    margin-left: 0;
    order: 1;
  }
  font-size: 0.8em !important; // no workie
}

.main {
  .bgBorder {
    width: 60em;
    border: 4px solid white;
    .bg {
      width: 100%;
    }
  }
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.vertnum {
  span {
    padding-block: 0.8rem;
  }
  position: absolute;
  margin-left: -1.2em;
  margin-top: 0.85em;
  font-size: 5em;
  display: flex;
  flex-direction: column;
}